# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.ipynb_checkpoints/
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

# due to config logs stored internally
src/nspyre/config/cli_config.log
src/nspyre/gui/nspyre.log
src/nspyre/inserv/inserv.log

# due to db config and backups stored internally
src/nspyre/mongodb/db_files/
src/nspyre/mongodb/db_files_backup/